<%- include("partials/sideNav.ejs") %>


<div class="content" style="padding: 10px; background-color: black;">
    <img src="/images/doctor.png" height="250" width="250" alt="">
    <h1 style="color: white ; margin-top: 0px;"><%=doctor.name%></h1>
    <h3 style="color: white">Calling...</h3>
    <img src="/images/end.png" height="70" width="70"alt="">
</div>
